*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #548687;
    text-align: center;
   
}

h1{
    color:#ffffc7;
    font-family:cursive ;
    font-style: italic;
    
}
.container{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
 

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game:hover{
    color: azure;
}


.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    box-shadow: 0  0 1rem  rgb(201, 11, 147);
    font-size: 8vmin;
    color: red;
    background-color: #ffffc7;
}

.box:hover{
    color: black;

}

#reset-btn{
    
    padding: 1.5rem;
    
    font-size: 1.2rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}
#reset-btn:hover{
    color: palevioletred;
}

#new-btn{
    padding: 1.5rem;
    
    font-size: 1.2rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}

#new-btn:hover{
    color:aqua;
}

#msg{
    color:  #ffffc7;
    font-size: 5vmin;
}

#msg:hover{
    color: red;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}
.hide {
     display:none;
}